@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
  
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    text-align: center;
    color: rgb(58, 126, 182);
    font-weight: bolder;
    font-family:cursive;
    font-size: 3rem;
}
.navigation{
    background-color: #c6e9f8a6 !important;
    color: white !important;
    height: 10%;
    font-size: 24px;
}
.nav-brand{
    width: 10%;
    height: 100%;
    overflow: hidden;
    padding: 2px;
}
.nav-rt{
    margin-left: auto;
    margin-right: 0% !important;
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
}
.car-div{
    margin-top: 65px;
}
.img-resposnive{
    width: 100% !important;
    height: auto;
}

/* container css */
.container-box{
    background-image: linear-gradient(360deg, rgba(255,0,0,0),#97d0e9a6);
    width: 100%;
}
.intro-box{
    padding: 100px;
}
.intro-parts{
    background-color: white;
    background-image: radial-gradient(rgba(238, 228, 245, 0.877),#95d0ebe1 ),url('../images/block-bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 8%;
    font-size: 24px;
    border-radius: 2%;
    margin-right: 0%;
    font-weight: bolder;
}
.ip-vid{
    padding: 2%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(112, 185, 245));   
    padding: 5%;
}
.arrow {
    border-color:transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    height:0;
    margin:0.5rem auto;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
  }
.down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid #00b6f1;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(58, 126, 182);
    border: none;
    color: #FFFFFF;
    text-align: center !important;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    margin-left: 30%;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.process-box{
    padding: 5% 0;
    /* background-image: linear-gradient(360deg, rgba(255,0,0,0),#97d0e9a6); */
    background-color: white !important;
}
.process-img{
    border-radius: 2%;
}
.process-desc{
    background-color: white;
    padding-top: 50px;
}
.box-tags{
    background-image: linear-gradient(30deg, rgba(255,0,0,0),rgb(58, 126, 182));
    padding: 15% 2%;
    width: 100%;
    border-radius: 5% 50% 50% 5%;
    margin: 10% 0;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bolder;
    font-size: 30px;
}
.parallax {
    /* The image used */
    background-image: url('../images/process.png');
  
    /* Full height */
    height: 50% !important; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .nav-brand{
        width: 35%;
        padding-right: 0%;
    }
    .nav-toggle{
        background: rgba(0, 0, 0, 0.432);
        color: white !important;
        font-weight: bold;
    }
}